# Public VIP to backend mappings
# Format:
# public_ip public_port backend_ip backend_port protocol

VIP_ADDRESS 8081 APP_A_IP 80 tcp
VIP_ADDRESS 8082 APP_A_IP 443 tcp
VIP_ADDRESS 8087 APP_B_IP 3000 tcp
VIP_ADDRESS 8090 APP_C_IP 3000 tcp
VIP_ADDRESS 8091 APP_D_IP 80 tcp
VIP_ADDRESS 8092 APP_E_IP 80 tcp
VIP_ADDRESS 8093 APP_F_IP 80 tcp
VIP_ADDRESS 8094 APP_G_IP 80 tcp
VIP_ADDRESS 8095 APP_H_IP 80 tcp
VIP_ADDRESS 8097 APP_I_IP 80 tcp
VIP_ADDRESS 8098 APP_J_IP 80 tcp
VIP_ADDRESS 8100 APP_K_IP 80 tcp
VIP_ADDRESS 8101 APP_C_IP 22 tcp
